<link rel="stylesheet" href="../../css/cards.css">
<div class="cards">
    <div class="card">
        <img class="dp" src="../../images/guitarist.jpg" alt="">
            <div class="center">
                <h1 class="categoryc">MUSIC</h1>
            </div>
            <div class="center">
                <h1 class="titlec">What Your Music Preference Says About You</h1>
            </div>
            <div class="center">
                <h1 class="datec">Kanik Kapoor | 1 FEB 2023 </h1>
            </div>
    </div>
    <div class="card">
        <img class="dp" src="../../images/woodcraft.jpg" alt="">
            <div class="center">
                <h1 class="categoryc">CREATIVITY</h1>
            </div>
            <div class="center">
                <h1 class="titlec">An Examination of Minimalistic Design</h1>
            </div>
            <div class="center">
                <h1 class="datec">Kanik Kapoor | 1 FEB 2023 </h1>
            </div>
    </div>
    <div class="card">
        <img class="dp" src="../../images/beetle.jpg" alt="">
            <div class="center">
                <h1 class="categoryc">LIFESTYLE</h1>
            </div>
            <div class="center">
                <h1 class="titlec">Throwback To The Good Old Days.</h1>
            </div>
            <div class="center">
                <h1 class="datec">Kanik Kapoor | 1 FEB 2023 </h1>
            </div>
    </div>
    <div class="card">
        <img class="dp" src="../../images/coffee.jpg" alt="">
            <div class="center">
                <h1 class="categoryc">HEALTH</h1>
            </div>
            <div class="center">
                <h1 class="titlec">Interesting Facts About Caffeine</h1>
            </div>
            <div class="center">
                <h1 class="datec">Kanik Kapoor | 1 FEB 2023 </h1>
            </div>
    </div>
    <div class="card">
        <img class="dp" src="../../images/guitarist.jpg" alt="">
            <div class="center">
                <h1 class="categoryc">MUSIC</h1>
            </div>
            <div class="center">
                <h1 class="titlec">What Your Music Preference Says About You</h1>
            </div>
            <div class="center">
                <h1 class="datec">Kanik Kapoor | 1 FEB 2023 </h1>
            </div>
    </div>
    <div class="card">
        <img class="dp" src="../../images/woodcraft.jpg" alt="">
            <div class="center">
                <h1 class="categoryc">CREATIVITY</h1>
            </div>
            <div class="center">
                <h1 class="titlec">An Examination of Minimalistic Design</h1>
            </div>
            <div class="center">
                <h1 class="datec">Kanik Kapoor | 1 FEB 2023 </h1>
            </div>
    </div>
    <div class="card">
        <img class="dp" src="../../images/beetle.jpg" alt="">
            <div class="center">
                <h1 class="categoryc">LIFESTYLE</h1>
            </div>
            <div class="center">
                <h1 class="titlec">Throwback To The Good Old Days.</h1>
            </div>
            <div class="center">
                <h1 class="datec">Kanik Kapoor | 1 FEB 2023 </h1>
            </div>
    </div>
    <div class="card">
        <img class="dp" src="../../images/coffee.jpg" alt="">
            <div class="center">
                <h1 class="categoryc">HEALTH</h1>
            </div>
            <div class="center">
                <h1 class="titlec">Interesting Facts About Caffeine</h1>
            </div>
            <div class="center">
                <h1 class="datec">Kanik Kapoor | 1 FEB 2023 </h1>
            </div>
    </div>
</div>