<link rel="stylesheet" href="../../css/footer.css">
  <div class="footer-a">
    <h1 class="h1">POPULAR POST</h1>
    <div class="popular">
      <div class="popular_posts">
        <img src="../../images/coffee.jpg" class="img" alt="">
        <div class="data">
        <h1 class="title_footer">10 Interesting Facts About Caffeine.</h1>
        <h1 class="desc_footer">By Kanik Kapoor on Jun 3, 2023</h1>
        </div>
      </div>
      <div class="popular_posts">
        <img src="../../images/beetle.jpg" class="img" alt="">
        <div class="data">
        <h1 class="title_footer">Throwback To The Good Old Days.</h1>
        <h1 class="desc_footer">By Kanik Kapoor on Jun 3, 2023</h1>
        </div>
      </div>
      <div class="popular_posts">
        <img src="../../images/woodcraft.jpg" class="img" alt="">
        <div class="data">
        <h1 class="title_footer">An Examination of Minimalistic Design.</h1>
        <h1 class="desc_footer">By Kanik Kapoor on Jun 3, 2023</h1>
        </div>
      </div>
      <div class="popular_posts">
        <img src="../../images/beetle.jpg" class="img" alt="">
        <div class="data">
        <h1 class="title_footer">Throwback To The Good Old Days.</h1>
        <h1 class="desc_footer">By Kanik Kapoor on Jun 3, 2023</h1>
        </div>
      </div>
      <div class="popular_posts">
        <img src="../../images/beetle.jpg" class="img" alt="">
        <div class="data">
        <h1 class="title_footer">Throwback To The Good Old Days.</h1>
        <h1 class="desc_footer">By Kanik Kapoor on Jun 3, 2023</h1>
        </div>
      </div>
      <div class="popular_posts">
        <img src="../../images/beetle.jpg" class="img" alt="">
        <div class="data">
        <h1 class="title_footer">Throwback To The Good Old Days.</h1>
        <h1 class="desc_footer">By Kanik Kapoor on Jun 3, 2023</h1>
        </div>
      </div>
      <div class="popular_posts">
        <img src="../../images/beetle.jpg" class="img" alt="">
        <div class="data">
        <h1 class="title_footer">Throwback To The Good Old Days.</h1>
        <h1 class="desc_footer">By Kanik Kapoor on Jun 3, 2023</h1>
        </div>
      </div>
      <div class="popular_posts">
        <img src="../../images/beetle.jpg" class="img" alt="">
        <div class="data">
        <h1 class="title_footer">Throwback To The Good Old Days.</h1>
        <h1 class="desc_footer">By Kanik Kapoor on Jun 3, 2023</h1>
        </div>
      </div>
      <div class="popular_posts">
        <img src="../../images/beetle.jpg" class="img" alt="">
        <div class="data">
        <h1 class="title_footer">Throwback To The Good Old Days.</h1>
        <h1 class="desc_footer">By Kanik Kapoor on Jun 3, 2023</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-b" id="footer">
    <div class="social-menu">
<ul>
            <li><a href="https://github.com/kanikbenzeen" target="blank"><i class="fab fa-github"></i></i></a></li>
            <li><a href="https://www.instagram.com/kanik_kapoor/" target="blank"><i class="fab fa-instagram"></i></a></li>
            <li><a href="https://www.linkedin.com/in/kanik-saini-43118b250/" target="blank"><i class="fab fa-linkedin-in"></i></a></li>
            {{!-- <li><a href="https://codepen.io/sanketbodke"><i class="fab fa-codepen" target="blank"></i></a></li> --}}
        </ul>
    </div>
    <h1 class="h2">What is Life Unfiltered</h1>
    <div class="descbox">
      <p class="desc"><b>Life Unfiltered</b> is a personal blog site that focuses on sharing honest and raw stories about life. The blog aims to provide a platform for individuals to share their unfiltered experiences, thoughts, and emotions without the pressure to conform to societal norms or expectations. The topics covered on the site are diverse and range from mental health and self-care to relationships, career, and personal growth. The author of the blog encourages open and honest discussions, vulnerability, and authenticity, with the ultimate goal of inspiring and empowering readers to embrace their true selves and live a more fulfilling life.</p>
    </div>
      <div class="contact">
        <h1 class="h2">Request for Post Account</h1>      
        <div class="input-group">
            <input type="email" class="input" id="Email" name="Email" placeholder="Your email address..." autocomplete="off">
            <input class="button--submit" value="Submit" type="submit">
        </div>
        <div class="reqbox">
          <p class="req">If you're interested in creating a post account, please provide your email address so that <b>Life Unfiltered</b> can send you the necessary information to get started. Once you receive the email, follow the instructions to create your account and start posting</p>
        </div>
      </div>
  </div>
      <script src="https://kit.fontawesome.com/66aa7c98b3.js" crossorigin="anonymous"></script>