<link rel="stylesheet" href="../../css/footer.css">
  <div class="footer-a">
    <h1 class="h1">POPULAR POST</h1>
    <div class="popular">
      <div class="popular_posts">
        <img src="../../images/beetle.jpg" class="img" alt="">
        <div class="data">
        <h1 class="title_footer">Throwback To The Good Old Days.</h1>
        <h1 class="desc_footer">By Kanik Kapoor on Jun 3, 2023</h1>
        </div>
      </div>
      <div class="popular_posts">
        <img src="../../images/beetle.jpg" class="img" alt="">
        <div class="data">
        <h1 class="title_footer">Throwback To The Good Old Days.</h1>
        <h1 class="desc_footer">By Kanik Kapoor on Jun 3, 2023</h1>
        </div>
      </div>
      <div class="popular_posts">
        <img src="../../images/beetle.jpg" class="img" alt="">
        <div class="data">
        <h1 class="title_footer">Throwback To The Good Old Days.</h1>
        <h1 class="desc_footer">By Kanik Kapoor on Jun 3, 2023</h1>
        </div>
      </div>
      <div class="popular_posts">
        <img src="../../images/beetle.jpg" class="img" alt="">
        <div class="data">
        <h1 class="title_footer">Throwback To The Good Old Days.</h1>
        <h1 class="desc_footer">By Kanik Kapoor on Jun 3, 2023</h1>
        </div>
      </div>
      <div class="popular_posts">
        <img src="../../images/beetle.jpg" class="img" alt="">
        <div class="data">
        <h1 class="title_footer">Throwback To The Good Old Days.</h1>
        <h1 class="desc_footer">By Kanik Kapoor on Jun 3, 2023</h1>
        </div>
      </div>
      <div class="popular_posts">
        <img src="../../images/beetle.jpg" class="img" alt="">
        <div class="data">
        <h1 class="title_footer">Throwback To The Good Old Days.</h1>
        <h1 class="desc_footer">By Kanik Kapoor on Jun 3, 2023</h1>
        </div>
      </div>
      <div class="popular_posts">
        <img src="../../images/beetle.jpg" class="img" alt="">
        <div class="data">
        <h1 class="title_footer">Throwback To The Good Old Days.</h1>
        <h1 class="desc_footer">By Kanik Kapoor on Jun 3, 2023</h1>
        </div>
      </div>
      <div class="popular_posts">
        <img src="../../images/beetle.jpg" class="img" alt="">
        <div class="data">
        <h1 class="title_footer">Throwback To The Good Old Days.</h1>
        <h1 class="desc_footer">By Kanik Kapoor on Jun 3, 2023</h1>
        </div>
      </div>
      <div class="popular_posts">
        <img src="../../images/beetle.jpg" class="img" alt="">
        <div class="data">
        <h1 class="title_footer">Throwback To The Good Old Days.</h1>
        <h1 class="desc_footer">By Kanik Kapoor on Jun 3, 2023</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-b"></div>