<link rel="stylesheet" href="../css/main.css">
<div class="header">
  <img class="logo" src="../images/logo redi.png" alt="">
</div>
<div class="header-a" id="myHeader">
<div class="navbar">
  <h1 class="name"><a href="/">LIFE UNFILTERED</a></h1>
  <h1 class="nav"><a href="/">HOME</a></h1>
  <h1 class="nav">CATEGORIES</h1>
  <h1 class="nav" onclick="location.href='#footer'">ABOUT</h1>
  <h1 class="nav" onclick="location.href='/contact'">CONTACT</h1>
  <h1 class="nav" onclick="location.href='/auth/user'">LOGIN</h1>
</div>
</div>