<link rel="stylesheet" href="../../css/slider.css">
<link rel="stylesheet" href="../../css/post.css">

<div class="thero">
    <img src="../../images/{{data.image}}" class="hero" alt="">
</div>

    <div class="center">
      <h1 class="title" id="title">{{data.title}}</h1>
    </div>
    <div class="center">
      <h1 class="date">Kanik Kapoor | {{data.date}} </h1>
    </div>

<div class="parllex" id="content">
  <div class="descbox">
  <p class="desc">{{data.desc}}</p></div>
</div>
<script src="../js/common.js"></script>
