<link rel="stylesheet" href="../../css/slider.css">
<!-- Slider container -->
<div class="slider">
  <!-- slide 1 -->
  <div class="slide">
    <div class="center">
      <h1 class="category">WHAT IF</h1>
    </div>
    <div class="center">
      <h1 class="title">What If Sun Disappeared</h1>
    </div>
    <div class="center">
      <h1 class="date">Kanik Kapoor | 1 FEB 2023 </h1>
    </div>
    <img src="../../images/sun.jpg" alt="" />
  </div>

  <!-- slide 2 -->
  <div class="slide">
      <div class="center">
        <h1 class="category">HOW TO</h1>
      </div>
      <div class="center">
        <h1 class="title">How To Get Free Music</h1>
      </div>
      <div class="center">
        <h1 class="date">Kanik Kapoor | 1 FEB 2023 </h1>
      </div>
    <img src="../../images/music.jfif" alt="" />
  </div>

  <!-- slide 3 -->
  <div class="slide">
      <div class="center">
        <h1 class="category">HOW TO</h1>
      </div>
      <div class="center">
        <h1 class="title">How To Use Apple Ecosystem</h1>
      </div>
      <div class="center">
        <h1 class="date">Kanik Kapoor | 1 FEB 2023 </h1>
      </div>
    <img src="../../images/tech.jpeg" alt="" />
  </div>

  <!-- slide 4 -->
  <div class="slide">
      <div class="center">
        <h1 class="category">HOW TO</h1>
      </div>
      <div class="center">
        <h1 class="title">How To Stay Healthy</h1>
      </div>
      <div class="center">
        <h1 class="date">Kanik Kapoor | 1 FEB 2023 </h1>
      </div>
    <img src="../../images/health.jpg" alt="" />
  </div>

</div>
  <button class="btn btn-next"> > </button>
  <button class="btn btn-prev">
    < </button>
    <div class="clear"></div>
<script src="../../js/common.js"></script>