<link rel="stylesheet" href="../../css/addPost.css">
{{> headder }}

<div class="postcard">
	<h1 class="topic">Add Post</h1>
	<form action="">
		<input placeholder="Title" type="text" class="title" required="">
		<textarea placeholder="Description" class="desc"></textarea>
		<div class="flex">
			<input type="file" id="images" accept="image/*" required>
			<div class="select-dropdown">
				<select>
					<option value="Option 1">Select Category</option>
					<option value="Option 2">Creativity</option>
					<option value="Option 3">Health</option>
					<option value="Option 4">How To</option>
					<option value="Option 5">Lifestyle</option>
					<option value="Option 6">Music</option>
					<option value="Option 7">Travel</option>
					<option value="Option 8">What If</option>
				</select>
			</div>
		</div>
		<button>
			<span>POST NOW</span>
		</button>		
	</form>
</div>
