<link rel="stylesheet" href="../../css/addPost.css">
{{> headder }}

<div class="postcard">
	<h1 class="topic">Add Post</h1>
	<form method="post" action="/postForm"  id="addpost">
		<input placeholder="Title" type="text" class="title" required="" name="title">
		<textarea placeholder="Description" class="desc" name="desc"></textarea>
		<div class="flex">
			<input type="file" id="images" accept="image/*" required name="image">
			<div class="select-dropdown">
				<select name="category">
					<option value="Option 1" style="display: none;">Select Category</option>
					<option value="Creativity">Creativity</option>
					<option value="Health">Health</option>
					<option value="How-To">How To</option>
					<option value="Lifestyle">Lifestyle</option>
					<option value="Music">Music</option>
					<option value="Travel">Travel</option>
					<option value="What-If">What If</option>
				</select>
			</div>
		</div>
		<button type="submit"  id="postdata">
			<span>POST NOW</span>
		</button>		
	</form>
</div>
