{{!-- <link rel="stylesheet" href="../css/main.css">
<div class="header">
  <img class="logo" src="../images/logo redi.png" alt="">
</div>
<div class="header-a" id="myHeader">
<div class="navbar">
  <h1 class="name">LIFE UNFILTERED</h1>
  <h1 class="nav">HOME</h1>
  <h1 class="nav">HOW TO</h1>
  <h1 class="nav">WHAT IF</h1>
  <h1 class="nav">ABOUT</h1>
  <h1 class="nav">CONTACT</h1>
</div>
</div> --}}
{{> headder }}

{{> slider }}

{{> cards }}

<div class="clear"></div>

{{> footer }}

  {{!-- <div class="footer-a"></div>
  <div class="footer-b"></div> --}}
