.popular{
    position: absolute;
    margin-top: 5%;
    height: 80%;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    flex-direction: row-reverse;
    justify-content: flex-start;
}

.popular_posts{
    width: 400px;
}

.img{
    height: 5rem;
    width: auto;
}

.title_footer{
    position: relative;
    font-size: 20px;
    font-family: system-ui;
    font-weight: 400;
}

.desc_footer{
    position: relative;
    font-size: 15px;
    font-family: system-ui;
    padding-top: 8px;
    font-weight: 400;
    opacity: 0.6;
}

.data{
    position: relative;
    display: block;
    margin-top: -88px;
    margin-left: 100px;
    width: 300px;
    padding: 4px;
}

.h1{
    font-size: x-large;
    color: #000000;
    position: absolute;
    margin-left: 19%;
    margin-top: 2%;
    text-decoration-line: overline;
    text-decoration-thickness: 5px;
    text-decoration-style: solid;
    text-decoration-color: #ece6db;
    font-family: monospace;
}